{% extends "base.html" %}

{% block content %}
<div class="books">
    <ul class="book">
        {% for book in book_list %}
        <li class="booktitle"><a href="{{ book.access_online }}">{{ book.title }}</a></li>
        <!--Add a for loop for book.author because there could be more than one-->
        <div class="non-title">
            {% if book.author.count %}
            {% for author in book.author.all %}
            <li class="author"><a href="">{{ author.author }}</a></li>
            {% endfor %}
            {% endif %}

            <!--Add a for loop for book.category because there could be more than one-->
            {% if book.book_category.count %}
            {% for category in book.book_category.all %}
            <li class="category"><a href="">{{ category.book_category }}</a></li>
            {% endfor %}
            {% endif %}
            <li class="book-description">{{ book.description }}</li>
            <li class="date">{{ book.date_added }}</li>
            {% endfor %}
        </div>
    </ul>
</div>
{% endblock %}
