{% extends "base.html" %}

{% block content %}
    <h1>Bookshelf</h1>
    <h2>Sorted by date added.</h2>
    {% if book_list  %}
    <ul>
        {% for book in book_list %}
        <li><a href="{{ book.access_online }}">{{ book.title }}</a></li>
        <li>{{ book.authors }}</li>
        <li>{{ book.book_category }}</li>
        <li>{{ book.description }}</li>
        <li>{{ book.date_added }}</li>
        {% endfor %}
    </ul>
    {% else %}
        <p>The bookshelf is currently empty. <a href="">Login</a> and enter some free coding books that you enjoy!</p>
    {% endif %}
{% endblock %}
