{% extends "base.html" %}

{% block content %}
    <h1>Bookshelf</h1>
    <h2>Sorted by date added.</h2>
    {% if book_list  %}
    <div class="book-on-shelf">
    <ul class="book-list">
        {% for book in book_list %}
        <li><strong class="title">{{ book.title }}</strong></li>
        <!--Add a for loop for book.author because there could be more than one-->
            <ul class="front-cover">
                <li class="booktitle"><a href="{{ book.access_online }}">{{ book.title }}</a></li>
                {% if book.author.count %}
                    {% for author in book.author.all %}
                        <li class="author">{{ author.author }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endfor %}
    </ul>
</div>
    {% else %}
        <p>The FreeShelf is currently empty. <a href="">Login</a> and enter some free coding books that you enjoy!</p>
    {% endif %}
{% endblock %}
