{% extends "base.html" %}

{% block content %}
    <h1>{{ Category.book_category }} Shelf</h1>
    <h2>Sorted by category</h2> 
    {% if category_list  %}
    <div class="book-on-shelf">

        <ul class="book-list">

                <div class="individual-book">

                    <ul class="spine">
                        <li class="title-spine"><strong class="title">{{ book.title }}</strong></li>
                        {% if book.book_category.count %}
                        {% for category in book.book_category.all %}
                        <li class="category"><strong>{{ category.book_category }}</strong></li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                <!--Add a for loop for book.author because there could be more than one-->
                    <ul class="front-cover">
                        <li class="booktitle"><a href="{{ book.get_absolute_url }}"><strong>{{ book.title }}</strong></a></li>
                        {% if book.author.count %}
                            {% for author in book.author.all %}
                                <li class="author"><strong>{{ author.author }}</strong></li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>

        </ul>

</div>
    {% else %}
        <p>FreeShelf does not have any books in {{ category }} yet. <a href="">Login</a> and enter some free coding books that you enjoy from this category!</p>
    {% endif %}
{% endblock %}
