.book-on-shelf{
    display: flex;
    flex-wrap: row;
}


.book-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black;
}

.individual-book{
    background-color:whitesmoke;
    border: solid lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 1rem;
}

.front-cover{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
}

.spine{
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-color: rgba(173, 216, 230, .5);
    border-right: solid lightblue;
    border-bottom: .25rem solid rgba(173, 216, 230, .50);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

.title{
    writing-mode: vertical-rl;
    text-orientation: sideways;
    padding: 1rem;
    display: flex;
    align-items: center;
    height: 15rem;
    border-bottom: .15rem solid rgba(172, 216, 230, .50)
}

.id-spine{
    padding: .5rem;
    font-size: 15px;
}

.base-title{
    text-align: center;
}