.book-on-shelf{
    display: flex;
    flex-wrap: row;
}


.book-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid black;
}
.individual-book{
    background-color: lightcyan;
    border: solid lightblue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.front-cover{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    background-color: rgba(120, 120, 12, .5);
    border-right: .25rem solid rgba(110, 110, 120, .20);
    border-bottom: .25rem solid rgba(110, 110, 120, .50);
    padding: 1rem;
    display: flex;
    align-items: flex-end;
}

.base-title{
    text-align: center;
}