

.book-on-shelf{
    display: flex;
    flex-wrap: row;
}


.book-on-shelf .book-list{
    list-style: none;
    display: flex;
    flex-wrap: column;
    border: solid black;
}

.front-cover{
    list-style: none;
    display: flex;
    flex-wrap: column;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    background-color: rgba(120, 120, 120, .5);
    border-right: .5rem solid rgba(120, 120, 120, .75);
    border-bottom: .5rem solid rgba(120, 120, 120, .50);
    padding: 1rem;
}

.base-title{
    text-align: center;
}